/* style file created by Katerina Yeung
========================================

00: css variable
01: color
02: typography

======================================
*/

/* 00 css variable */
:root{
    --body-color: rgb(133, 159, 150);
    --page-color: hsla(30,32%,88%,0.9);
    --sidebar-color: rgb(106, 73, 50);
    /*font color*/
    --font-color: rgb(133, 83, 83);
    /*h1 color --practice**/
    --h1-color: rgb(234, 251, 235);
    /** layout variable**/
    --page-top-postion: 85%;
    --page-width: 30%;
    --bottom-bar-height: 15vh;
    --bottom-bar-color: hsla(27,42%,88%,0.9)
}

/* 01 Color */
body {
    background-color: var(--body-color);
}
#zen-intro{
    background-color: var(--page-color);
    color: var(--font-color);
}
#zen-supporting{
    background-color: var(--page-color);
}
.sidebar{
    background-color: var(--sidebar-color);
}

h1{
    background-color: var(--h1-color);
}

/*02 Layout */
div.explanation, div.requirements, div.benefits, div.participation{
    position: fixed;
    width: var(--page-width);
    top: var(--page-top-postion);
    background-image: url(../img/newspaper3.jpg);
    /*transition: all 4s ease-in-out; */
    transition: all 4s ease-in-out;
}

div.explanation{
    left:0%;
}

div.requirements{
    left: 20%;
}

div.benefits{
    left: 40%;
} 

div.participation{
    left: 60%;

}

aside.sidebar{
    position: absolute;
    top: 10%;
    right: 0;
    width: 25%;
    bottom: 20%;
   
}

section.intro{
    position: absolute;
    top: 10%;
    right: 30%;
    width: 50%;
    height: 80%;
    background-image:url(../img/newspaper3.jpg);
    padding: 2%;
    border: 2px dashed rgb(205, 103, 20);
    margin-left: 10px;
    text-indent: 1px;
    /*put the transform and translate here*/
    transform: rotate(-10deg) translate(-100px,0);
       
}

div.extra2{
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: var(--bottom-bar-height);
    background-color: var(--bottom-bar-color);
}

div.extra1{
    position: fixed;
    top: 5%;
    bottom: 10%;
    left: 10%;
    right: 25%;
    height: 50%;
    background-image: url(../img/newspaper2.jpg);
    z-index: -1;
}

/**create tabs for the folder*/
div.explanations h3, div.requirements h3, div.benefits h3, div.participation h3{
    margin-top: -10%;
    width: 12vw;
    background-color: rgb(236, 163, 111);
}

/**03: Typography **/
@font-face{
    font-family: 'myfont';
    src: url(../fonts/chunkfive.eot);
}

header h1{
    font-family: 'myfont',sans-serif;
    font-weight: 100;
    letter-spacing: normal;
    line-height: lem;
}

header h2{
    font-family: "Bodoni Moda SC", serif;
    font-weight:400;
    font-style: normal;
}

#design-archives {
    visibility: hidden;
}

/* 04, selector practice, transform, transition, ...*/
a:hover{
    font-size: 1.5em;
}

div.explanation:active{
    top:15vh;
    height: 90vh;
}
    
/*finish the active action for requirement/benefits/participation*/

div.requirements:active{
    top: 15vh;
    height: 90vh;
}

div.benefits:active{
    top:15vh;
    height: 90vh;
}

div.participation:active{
    top: 15vh;
    height: 90vh;
}

p::first-letter{
    font-size: 1.5em;
    font-style: italic;
}

p:nth-child(2n){
    background-color: ivory;

}
p:nth-child(2n+1){
    background-color: cornsilk;
}

li:first-of-type{
    font-style: oblique;
}
/*Try one text shadow*/

h1{
    text-shadow: 1em 3em 5em rgb(162, 35, 135);
}

/*border-radius for the tab*/
div.explanations h3, div.requirements h3, div.benefits h3, div.participation h3{
    border-top-left-radius: 20px;
    padding: 10px;
}

/** list style image**/
ul{
    list-style-image: url(../img/star.png);
}
section.intro h3 ~p{
    opacity: 3;
    transition: all 3s ease-in-out;
}
/** transform and transition **/
section.intro h3:hover ~p{
    transform: scale(0,2);
    opacity: 0;
}@keyframes backandforth{
    from{transform: translate(-500px,0);}
    30%{transform: translate(-300px,0);}
    50%{transform: translate(300px,0);}
    70%{transform: translate(500px,0);}
    90%{transform: translate(600px,0);}
}

footer{
    position: fixed;
    bottom: 1vh;
    left: 50%;
    z-index: 4;
    animation: 10s ease-in-out 2s alternate infinite backandforth;
}
/*05 fun feature */
aside.sidebar{
    clip-path: polygon(0 0,0 60%,50% 90%, 100% 60%, 100% 0%);
}