/* style file created by Katerina Yeung
========================================

00: css variable
01: color
02: typography

======================================
*/

/* 00 css variable */
:root{
    --body-color: rgb(133, 159, 150);
    --page-color: hsla(30,32%,88%,0.9);
    --sidebar-color: rgb(95, 58, 32);
    /*font color*/
    --font-color: rgb(133, 83, 83);
    /*h1 color --practice**/
    --h1-color: rbg(13,32,72);
}

/* 01 Color */
body {
    background-color: var(--body-color);
}
#zen-intro{
    background-color: var(--page-color);
    color: var(--font-color);
}
#zen-supporting{
    background-color: var(--page-color);
}
.sidebar{
    background-color: var(--sidebar-color);
}


